// BRAND COLORS
$color-green: 								#00D494;
$color-light-green: 					#42DBAD;
$color-dark-green: 						#00A170;
$color-darker-green: 					#195443;
$color-light-red: 						#D42D00;
$color-dark-red: 							#871D00;

// OTHER COLORS
$color-white: 								#ffffff;
$color-black: 								#4a4a4a;



// MEASUREMENTS
$base-size: 									25px;
$base-size-small-x: 					5px;
$base-size-small: 						10px;
$base-size-large: 						$base-size * 2;



// TYPOGRAPHY
$font-stack: 									'Quicksand', sans-serif;
$font-size: 									24px;
$font-size-small: 						14px;
$font-size-large: 						36px;

// MISC
$br: 													1px;