<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <meta name="description" content="">
  <link rel="stylesheet" href="dist/css/screen.min.css">
</head>
<body>
<h1>Header</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quos rerum eveniet sequi, aliquam quidem eos ullam dolorem error, magni in adipisci ipsum eum incidunt. Voluptatum error placeat debitis totam.</p>
  <script src="dist/js/main.min.js"></script>
</body>
</html>
